.accordion {
	transition: transform $transition-time $transition-type, opacity $transition-time ease-out;
	opacity: 0;
	transform: translate(0, 10px);
	transition-delay: $transition-time;
	margin-bottom: 3rem;

	.waypoint-active & {
		opacity: 1;
		transform: translate(0, 0);
	}
}


// .accordion .card:not(:last-child) {
// 	border-bottom: 0;
// }

.accordion .card {
	border: 0;
}

.accordion .card-header a {
	color: lighten($body-color, 20%);
	display: block;
	position: relative;
	padding-left: 20px;

	&::after {
		transition: background-color $transition-time / 2 ease-out;
		content: $fa-var-minus;
		font-family: "FontAwesome";
		position: absolute;
		left: 0;
    	top: 4px;
		width: 12px;
		height: 12px;
		line-height: 13px;
		background-color: $white;
		border-radius: 100%;
		color: $brand-primary;
		font-size: 0.5rem;
		text-align: center;
	}

	&.collapsed::after {
		content: $fa-var-plus;
	}

	&:hover {
		color: $body-color;
	}

	&:hover::after {
		background-color: $brand-primary;
		color: $white;
	}
}

.accordion .card-block {
    text-align: left;
}

.accordion .card-block li {
	padding-left: 0;
	position: relative;
}

.accordion .card-block li a.nav-link,
.fixedsticky li a.nav-link {
	display: inline-block;
	position: relative;

	span {
		transition: transform $transition-time $transition-type;
		transform: translate(0, 0);
		position: relative;
		z-index: 2;
		padding-left: 5px;
		padding-right: 10px;
		display: inline-block;
		line-height: 1.2;
	}

	&:hover span {
		transform: translate(7px, 0);
	}

	&::before {
		transition: all $transition-time $transition-type;
		font-family: "FontAwesome";
		content: $fa-var-paper-plane-o;
		transform: translate(7px, 0) rotate(10deg);
		width: 4px;
		height: 4px;
		font-size: 8px;
		color: lighten($body-color, 30%);
		border-radius: 100%;
		position: absolute;
	    left: -6px;
	    top: 13px;
	    z-index: 3;
	}

	&:hover::before {
		transform: translate(17px, 0) rotate(30deg);
		width: 4px;
		border-radius: 0;
		color: $brand-primary;
	}

	&::after {
		transition: width $transition-time $transition-type;
		content: "";
		position: absolute;
		top: 5px;
		left: 0;
		bottom: 5px;
		width: 0;
		background-color: darken($white, 3%);
		z-index: 0;
	}

	&:hover::after {
		width: 100%;
	}
}
