.card-deck {
	width: 100%;
	margin-bottom: 3rem;
}

.card {
	&:hover .fa {
		transform: scale(1.3);
	}
	&:hover .card-img-top::before {
		background: $brand-primary;
		color: $body-color;
		transform: scale(8);
	}
	&:hover .swipe-lines {
		height: 80px;

		&::before,
		&::after {
			opacity: 1;
		}
	}
}

.card-title {
	color: $brand-primary;
}

.card-img-top {
	height: 150px;
	background: #7b858e;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;

	.fa {
		transition: transform $transition-time $transition-type;
		transform: scale(1);
		color: $white;
		font-size: 1.8rem;
		border-radius: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 6;
	}

	&::before {
		transition: transform $transition-time $transition-type;
		content: "";
		transform: scale(1);
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -25px;
		margin-top: -25px;
		background: rgba(255,255,255,0.1);
		width: 50px;
		height: 50px;
		border-radius: 100%;
		z-index: 1;
	}
}

.card-block {
	text-align: center;
}

.card-text {
	color: lighten($body-color, 15%);
	line-height: 1.3;
	font-size: 15px;
}


.swipe-lines {
	transition: height $transition-time $transition-type;
	position: absolute;
	width: 80px;
	height: 5px;
	transform: rotate(-40deg);
	z-index: 5;
	
	&::before,
	&::after {
		transition: opacity $transition-time $transition-type;
		opacity: 0;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&::before {
		border-top: 10px solid rgba(0,0,0,0.05);
		border-bottom: 10px solid rgba(0,0,0,0.05);
	}

	&::after {
		transform: translate(0, 45%);
		border-top: 10px solid rgba(0,0,0,0.05);
	}
}