// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.input-group-addon {
	background: $brand-primary;
	color: $white;
	cursor: pointer;
	padding: 0.7rem 1rem;
	border: 0;

	&:hover {
		background: lighten($brand-primary, 3%);
	}
}

.main-search .form-inline {
	box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

.main-search .form-inline .form-control {
	transition: box-shadow $transition-time ease-out;
	padding: 0.7rem;
	border: 0;
	color: $brand-primary;

	&::placeholder {
		color: lighten($gray, 50%);
	}

	&:focus {
		box-shadow: 0 0 10px rgba(255,255,255,0.5), inset 3px 0 0 $ami-gray;
		color: $body-color;
	}
}


.inner-search-wrap {
	@include media-breakpoint-down(md) {
		position: absolute;
	    top: -130px;
	    width: 200px;
	    margin-left: -100px;
	    left: 50%;
	}

}


.inner-search .form-inline .form-control {
	transition: background $transition-time ease-out;
	background: darken($white, 2%);
	padding: 0.5rem;
	border: 0;
	color: $brand-primary;
	font-size: 0.9rem;
	text-align: center;

	&::placeholder {
		color: lighten($gray, 50%);
	}

	&:focus {
		background: darken($white, 5%);
		color: $body-color;
	}
}

.inner-search .input-group-addon {
	padding: 0.7rem 0.7rem;
	font-size: 0.9rem;
}
