// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.input-group-addon {
	background: $brand-primary;
	color: $white;
	cursor: pointer;
	padding: 0.7rem 1rem;
	border: 0;

	&:hover {
		background: lighten($brand-primary, 3%);
	}
}

.main-search .form-inline {
	box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}

.main-search .form-inline .form-control {
	padding: 0.7rem;
	border: 0;

	&::placeholder {
		color: lighten($gray, 50%);
	}
}