.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    padding: 1rem;
    background-color: darken($brand-primary, 5%);
    min-height: 500px;
    z-index: 1;
    position: relative;
    background-attachment: fixed;

    .page--home & {
    	min-height: 500px;
    }

    &::after {
    	content: "";
    	position: absolute;
    	bottom: 0;
    	height: 100%;
    	width: 100%;
    	border: 0 0 100vw 0;
    	border-color: rgba(255,255,255,0.2);
    }
}

.jumbotron-inner {
	transition: opacity $transition-time / 2 ease-out, transform $transition-time $transition-type;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translate(0, 10px);
	opacity: 0;
	z-index: 2;

	.page-ready & {
		transform: translate(0, 0);
		opacity: 1;
	}
}


.jumbotron h1 {
	color: $white;
	font-size: 2rem;
	margin-top: 1rem;

	@include media-breakpoint-up(sm) {
		font-size: 2.5rem;
	}

	@include media-breakpoint-up(md) {
		font-size: 3rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 4rem;
	}
}

.jumbotron p {
	color: rgba(255,255,255,0.75);
}


.ami-intro__text {
	transition: opacity $transition-time / 2 ease-out, transform $transition-time $transition-type;
	transition-delay: $transition-time;
	transform: translate(20px, 0);
	opacity: 0;
	position: absolute;
	top: 120px;
	left: 50%;
	background-color: rgba(255,255,255,0.75);
	padding: 5px;
	border-radius: 10px 10px 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 5;

	.sps--blw & {
		transition-delay: 0s;
	}

	// TRANSITION
	.sps--abv & {
		transform: translate(30px, 0);
		opacity: 1;
	}

	p {
		font-size: 11px;
		line-height: 12px;
		margin: 0;
		color: darken($brand-primary, 10%);
		text-align: center;
	}
}


.ami-intro {	
	transition: background-position $transition-time $transition-type;
	background-color: rgba(255,255,255,0.2);
	background-size: cover;
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
	border-radius: 100%;
}

.ami-intro__cover-img {
	transition: transform $transition-time $transition-type;
	transform: translate(0, 100%);

	// PSEUDO
	&::before,
	&::after {
		content: "";
		position: absolute;
		border-radius: 100%;
		width: 4px;
		height: 4px;
		background-color: $black;
		left: 50%;
		top: 21px;		
	}

	&::before {
		margin-left: -8px;
	}

	&::after {
		margin-left: 4px;
	}

	// TRANSITION
	.sps--abv & {
		transform: translate(0, 5%);

		&::before,
		&::after {
			animation: blink $transition-time * 8 ease-in-out infinite alternate;
		}
	}
}


// BLINK ANIMATION
@keyframes blink {
  0% {
    height: 1px;
  }
  5% {
    height: 4px;
  }
  10% {
    height: 1px;
  }
  15% {
    height: 4px;
  }
  100% {
    height: 4px;
  }
}



.plane-intro {	
	background-color: rgba(255,255,255,0.2);
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 100%;
}

.plane-intro__cover-img {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80px;
	height: 80px;
	align-items: center;
	justify-content: center;
}


.plane-intro__plane,
.plane-intro__cloud1,
.plane-intro__cloud2,
.plane-intro__cloud3 {
	transition: opacity $transition-time $transition-type;	
	opacity: 0;

	// TRANSITION
	.sps--abv & {
		opacity: 1;
	}
}

.plane-intro__cloud1,
.plane-intro__cloud2,
.plane-intro__cloud3 {
	position: absolute;
}

.plane-intro__plane {
	transform: translate(-10px, 10px);
	transition-delay: 0.25s;

	animation: floaty-ud $transition-time * 18 ease-in-out infinite alternate;
	animation-delay: $transition-time;
}

.plane-intro__cloud1 {
	transition-delay: 0.2s;
	left: -2px;
	top: 10px;
	animation: floaty-l $transition-time * 14 ease-in-out infinite alternate;
}

.plane-intro__cloud2 {
	transition-delay: 0.15s;
	left: -15px;
	bottom: 20px;
	animation: floaty-l $transition-time * 14 ease-in-out infinite alternate;
	animation-delay: $transition-time;	
}

.plane-intro__cloud3 {
	transition-delay: 0.1s;
	right: -11px;
    bottom: 20px;
    animation: floaty-r $transition-time * 15 ease-in-out infinite alternate;
}

// FLOATY UD ANIMATION
@keyframes floaty-ud {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-2px, 3px);
  }
  100% {
    transform: translate(0, 0);
  }
}

// FLOATY L ANIMATION
@keyframes floaty-l {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-5px, 0);
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

// FLOATY R ANIMATION
@keyframes floaty-r {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(5px, 0);
    opacity: 0.75;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}