body {
	background: darken($white, 3%);
	overflow-x: hidden;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
	font-family: $font-family-sans-serif;
	font-weight: 100;
}


.main-page {
	position: relative;
	z-index: 2;
}