// @include media-breakpoint-up(sm) {
// }
// @include media-breakpoint-up(md) {
// }
// @include media-breakpoint-up(lg) {
// }
// @include media-breakpoint-up(xl) {
// }

a:link,
a:active,
a:visited {
	text-decoration: none;
}

@include media-breakpoint-down(sm) {
    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}

html {
    overflow-x: hidden;
}

body {
	background: darken($white, 3%);
	//overflow-x: hidden;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
	font-family: $font-family-sans-serif;
	font-weight: 100;
}

.lead {
    margin-bottom: 4rem;
    position: relative;
    font-size: 1.35rem;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 20px;
        height: 0;
        border-bottom: 1px dashed darken($white, 20%);
    }

}

.main-page,
#main-footer {
    transition: transform $transition-time $transition-type, opacity $transition-time ease-out;
    transform-delay: $transition-time;
	position: relative;
	z-index: 2;
    opacity: 0;
    transform: translate(0, 20px);

    .page-ready & {
        opacity: 1;
        transform: translate(0, 0);
    }
}

#main-footer {
    z-index: 1;
}

.sub-title {
    transition: transform $transition-time $transition-type, opacity $transition-time ease-out;
    opacity: 0;
    transform: translate(0, 10px);    
    margin: 1rem auto 4rem;
    margin-bottom: 4rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    line-height: 1;
    font-size: 1.2rem;
    color: lighten($body-color, 20%);
    position: relative;
    text-align: center;

    .waypoint-active & {
        opacity: 1;
        transform: translate(0, 0);
    }

    &::after {
    	content: "";
    	position: absolute;
    	width: 20px;
    	left: 50%;
    	margin-left: -10px;
    	bottom: -10px;
    	border-bottom: 4px dotted $brand-primary;
    }
}

.sub-title-icon {
    transition: transform $transition-time $transition-type, opacity $transition-time ease-out;
    opacity: 0;
    transform: translate(0, 10px); 
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: $ami-gray;
    margin: -130px auto 6rem;
    color: $white;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.05);

    // RESPONSIVE
    @include media-breakpoint-up(md) {
        margin: -120px auto 6rem;
    }

    .page--home & {
        margin: -130px auto 2rem;

        @include media-breakpoint-up(md) {
            margin: -66px auto 2rem;
        }
    }

    .waypoint-active & {
        opacity: 1;
        transform: translate(0, 0);
    }
}


.bp {
	color: $brand-primary;
}


.toggle-theme-wrap {
    position: absolute;
    right: 15px;
    top: $navbar-height + 20;
    z-index: 10;
}

.toggle-theme-wrap button {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background: $white;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin-bottom: 8px;
    display: block;
    box-shadow: inset 0 0 0 3px $brand-primary;
}