.navbar {
	background: $brand-primary;
	height: $navbar-height;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.navbar-brand {
	background: url(../images/logo.svg) no-repeat;
	height: $navbar-height;
	width: 160px;
	margin: 0 auto;
    background-position: 50% 50%;
    background-size: contain;
}

.pos--absolute-left {
	position: absolute;
	left: 20px;
}

.pos--absolute-right {
	position: absolute;
	right: 20px;
}

.navbar .nav-link {
	background: transparent;
	font-size: 10px;
	text-transform: uppercase;
	border: 1px solid darken($brand-primary, 8%);
	color: rgba(255,255,255,0.75);
	padding: 0;
	letter-spacing: 1px;
	line-height: 1;
	border-radius: 1px;

	span {
		display: inline-block;
		padding: 0 6px;
		height: 17px;
		line-height: 19px;
		z-index: 2;
	}

	.fa {
		color: darken($brand-primary, 8%);
		margin-left: 2px;
		margin-right: 2px;

		&.fa-comment-o {
			position: relative;
			left: 2px;
			top: -1px;
		}
	}

	&.pos--absolute-right span {
		border-left: 1px solid darken($brand-primary, 8%);
	}

	&.pos--absolute-left span {
		border-right: 1px solid darken($brand-primary, 8%);
	}

}

